@import url('..//ss-grid/ss-grid.scrollbar.css');

html, body{
	height: 100%;
	min-height: 100%;
    overflow: hidden;
}
.mCSB_inside > .mCSB_container{
    margin-right: 0;
}

.ss-Grid {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.ss-Grid-Content {
    overflow: hidden;
    height: 100%;
    font-size: 0;
    white-space: nowrap;
}

.ss-Grid-Content .ss-Grid-child {
    display: inline-block;
    border-right: 1px solid #0f1417;
    font-size: 14px;
    background: #fff;
    color: #fff;
    height: 100%;
}

/*.gridContent .gridChild:first-child {
  border-left: 1px solid #bbb;
}*/
.ss-Grid-Content .content {
    overflow: auto;
    position: relative;
    padding: 10px;
    height: 100%;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    color: #000;
}

.ss-Grid-Content .azureMenu {
    padding: 10px;
    background: #2d3239;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ss-Grid-Content .header {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background: #2d3239;
}
.ss-Grid-Content .header section:first-child {
    margin: 0 10px;
}
.ss-Grid-Content .header section:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}

.ss-Grid-Content .header section:last-child .button{
    padding: 5px 7px;
    cursor: pointer;
}

.ss-Grid-Content .header section:last-child .button:hover{
    background-color: #666;
}

.ss-Grid-Content .header section:last-child .buttonClose:hover{
    background-color:#b10300;
}
.ss-Grid-Content .header section:last-child .close{
    width: 20px;
    height: 20px;   
   background:url('../../image/ss-grid/ss-Grid-icon.svg') -40px  0   no-repeat;
}


.ss-Grid-Content .header section:last-child .restoreDown{
    width: 20px;
    height: 20px;
   background:url('../../image/ss-grid/ss-Grid-icon.svg') -20px  0 no-repeat; 
}

.ss-Grid-Content .header section:last-child .minimise{
    width: 20px;
    height: 20px;
   background:url('../../image/ss-grid/ss-Grid-icon.svg') 0px  0 no-repeat;
}
.ss-Grid-Content .header section:last-child .maximise{
    width: 20px;
    height: 20px;
   background:url('../../image/ss-grid/ss-Grid-icon.svg') -60px  0 no-repeat;
}

.ss-Grid-Content .header section:last-child .strench{
    width: 20px;
    height: 20px;
   background:url('../../image/ss-grid/ss-Grid-icon.svg') -80px  0 no-repeat;
}
